extends ./base

block append content
    div.container.maincont
        div.row
            div.col-md-16
                ul.nav.nav-tabs
                    li.active(role="presentation")
                        a(href="#") 周排行
            div.col-md-16
                ul.nav.nav-tabs
                    li.active(role="presentation")
                        a(href="#") 总排行
